.heroSmall {
  height: 55vh;
  min-height: 400px;
  background: center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8.5rem;
  margin-bottom: 4rem;
}

.heroSmall .heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--hero-gradient-start) 100%,
    var(--hero-gradient-end) 0%
  );
  z-index: 1;
}

.heroSmallContent {
  position: relative;
  max-width: 800px;
  padding: 0 20px;
  color: var(--always-white);
  display: flex;
  z-index: 3;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heroSmallContent h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.heroSmallContent p {
  font-size: 1.1rem;
  opacity: 0.9;
  max-width: 600px;
}

/* media query */
@media (max-width: 768px) {
  .heroSmall {
    padding-top: 100px;
    align-items: flex-start;
  }

  .heroSmallContent {
    margin-top: 2rem;
  }

  .heroSmallContent h1 {
    font-size: 2.2rem;
  }

  .heroSmallContent p {
    font-size: 1rem;
  }
}
