.historyContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: start;
  gap: 50px;
}

.historyText {
  text-align: left;
}

.historyText p {
  margin-bottom: 1.5rem;
  font-size: 1.05rem;
  text-align: justify;
  color: var(--text-secondary);
}

.historyText h2,
h3 {
  color: var(--text-primary);
  margin-top: 40px;
  margin-bottom: 15px;
}

.historyText h3 {
  font-size: 1.8rem;
  letter-spacing: -0.8px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.historyImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  margin-top: 3.5rem;
  margin-bottom: 6rem;
  top: 120px;
}

.historyImage {
  border-radius: var(--radius);
  width: 100%;
  height: clamp(350px, 25vw, 600px);
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .historyContainer {
    display: block;
  }
  .historyImageContainer {
    display: none;
  }
}
