.switchContainer {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  width: 64px;
  height: 44px;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0 5px;
  border-radius: var(--radius-lg);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid var(--border);
  display: flex;
  align-items: center;
}

.switch:hover {
  opacity: 0.9;
  background-color: var(--btn-outline-bg);
}

.thumb {
  width: 30px;
  height: 30px;
  color: var(--text-on-secondary);
  background-color: var(--secondary);
  border-radius: var(--radius-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
}

.switch.dark .thumb {
  transform: translateX(20px);
  background-color: var(--primary);
  color: var(--text-on-primary);
}

.icon {
  width: 18px;
  height: 18px;
}
