.modal {
  text-align: center;
}

.icon {
  width: 4rem;
  height: 4rem;
  margin: 0 auto 1rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: var(--accent-primary);
}

.footer {
  justify-content: center;
}

.footer button {
  width: 100%;
}
