.badgeContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.badgeContent {
  justify-content: start;
  align-items: center;
}

.dogTitle {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
}

.dogName {
  font-family: var(--font-dog-voice);
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.72;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-on-image);
  justify-content: flex-end;
  height: 100%;
}

/* --- Loading Overlay --- */
.loadingOverlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  border-radius: var(--radius);
  color: var(--text-on-image);
  transition: opacity 0.2s ease-in-out;
}

.spinner {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
@media (max-width: 768px) {
  .badgeContent,
  .badgeContainer {
    justify-content: center;
  }
}
