.link {
  color: var(--text-secondary);
  transition: var(--transition);
  text-decoration: underline;
}

.link:hover {
  color: var(--text-primary);
  text-decoration: none;
}

.iconLink {
  display: flex;
  gap: 5px;
  align-items: center;
}
